{% extends 'base.html' %}

{% block title %}Головна - Фотоальбом{% endblock %}

{% block content %}
    <div class="text-center py-20">
        <h2 class="text-4xl font-bold text-gray-800 mb-4">Ласкаво просимо до Поламаного Фотоальбому!</h2>
        <p class="text-lg text-gray-600 mb-8">Зберігайте, організовуйте та діліться своїми улюбленими спогадами легко та безпечно.</p>
        {% if  not user.is_authenticated %}
        <div class="flex justify-center space-x-4">
            <a href="{% url 'register-page' %}" class="bg-blue-600 text-white px-6 py-3 rounded-lg hover:bg-blue-700 transition">Реєстрація</a>
            <a href="{% url 'login-page' %}" class="bg-gray-600 text-white px-6 py-3 rounded-lg hover:bg-gray-700 transition">Вхід</a>
        </div>
        {%else%}
        <div class="flex justify-center space-x-4">
            <a href="{% url 'photo_album' %}" class="bg-blue-600 text-white px-6 py-3 rounded-lg hover:bg-blue-700 transition">Мій альбом</a>
        </div>
        {%endif%}
    </div>
{% endblock %}