{% extends "base.html" %}

{% block title %}Зміна пароля{% endblock %}

{% block content %}
<div class="max-w-md mx-auto bg-white p-6 rounded-lg shadow-md">
    <h2 class="text-xl font-bold mb-4">Зміна пароля</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-4">
            <label class="block text-gray-700">Новий пароль</label>
            {{ form.new_password1 }}
        </div>
        <div class="mb-4">
            <label class="block text-gray-700">Повторіть пароль</label>
            {{ form.new_password2 }}
        </div>
        <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded">Змінити пароль</button>
    </form>
</div>
{% endblock %}