<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Фотоальбом</title>
</head>
<body>
    <h1>Фотоальбом</h1>
    {% if folder %}
        <h2>Папка: {{ folder.name }}</h2>
        <a href="{% url 'photo_album' %}">Назад до кореневої папки</a>
    {% endif %}

    <h3>Папки:</h3>
    <ul>
        {% for subfolder in folders %}
        <li><a href="{% url 'photo_album_with_folder' folder_id=subfolder.id %}">{{ subfolder.name }}</a></li>
        {% endfor %}
    </ul>

    <h3>Фотографії:</h3>
    <ul>
        {% for photo in photos %}
            <li>
                {% if photo.share_link %}
                    <a href="{% url 'shared_photo' share_link=photo.share_link %}">Поділитись</a>
                {% else %}
                    <form method="post" action="{% url 'generate_share_link' photo_id=photo.id %}">
                        {% csrf_token %}
                        <button type="submit">Згенерувати посилання</button>
                    </form>
                {% endif %}
            </li>
        {% empty %}
            <p>Немає фотографій.</p>
        {% endfor %}
    </ul>

    <h3>Додати фото:</h3>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ photo_form.as_p }}
        <button type="submit" name="upload_photo">Завантажити</button>
    </form>

    <h3>Створити папку:</h3>
    <form method="POST">
        {% csrf_token %}
        {{ folder_form.as_p }}
        <button type="submit" name="create_folder">Створити</button>
    </form>

    {% if folder %}
    <h3>Поділитись папкою:</h3>
    <form method="post" action="{% url 'share_folder' folder_id=folder.id %}">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Ім'я користувача">
        <button type="submit">Поділитись</button>
    </form>
    {% endif %}
</body>
</html>